@import "tailwindcss";

:root {
  --bg: #44534a;
  --bgSoft: #FFFFE3;
  --text:#4A4A4A;
  --textSoft: #6D8196;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components{
  .bg-container{
    @apply bg-cyan-50/5 
           text-amber-50
            hover:bg-cyan-50/10
           transition-all 
           duration-300 
           ease-in-out 
           p-2
           backdrop-blur-3xl  
          rounded-md
           ; 
  }
}
@theme{
  --color-soft: var(--bgSoft);
}
@media (prefers-color-scheme: dark) {
  :root {
  
  }
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
